body { font-family: 'Noto Sans', sans-serif; }
p,body,pre { margin:0;padding:0; }
input:outline { border:0; }
font[size="1"] { font-size: 14px;color:#bbb; }
font[color="black"], b { color:#D7D8D9; }
font[color="green"] { color: #8FDDFF; }
font[color="red"]   { color: #CC932B; }


#command {font:300 15px/1 consolas;width:580px;padding:4px 10px;position:fixed;top:0;left:50%;margin-left:-290px;background:#555;z-index:3;border:1px solid #808080;color:#7EC7EF;display:none;border-radius:5px;}
#command > input { outline:none;font:300 15px/1 consolas;width:566px;background:none;border:none;color:inherit;margin-left:4px; }

#status-local, #status-db { font-size: 12px; text-align: center; width: 100%; display: block; }
#status-local+br, #status-db+br { display: none; }

#editor   { width: 100%; height: 100%; background-color: #47484B; color: #bbb; }
#editor a { color: #A1C0FD; }
input[type="submit"],
#editor .button, 
#head-line input,
#head-line select{ display: inline-block; padding: 1px 5px; font-size: 12px; font-weight: 400; line-height: 1.4; text-align: center; white-space: nowrap; vertical-align: middle;
                   cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid rgba(0, 0, 0, 0);
                   border-radius: 3px; } 
#editor .button  { margin-left: 5px; text-decoration: none; } 

#head-line       { padding: 4px 0; width: 96%; margin: 0 auto; }
#head-line:after { content: ''; display: block; clear:both;}

#editor .button, 
#head-line input                         { color: #FFF; background-color: #5BC0DE; border-color: #46B8DA; }
#head-line input[value="Publish"]        { background-color: #F0AD4E; border-color: #EEA236; margin-right: 5px; }
#head-line input[value="Clear local"]    { background-color: #D9534F; border-color: #D43F3A; float: right; }
#head-line input[value="Commit to DB"]   { background-color: #428BCA; border-color: #357EBD; }
#head-line input[value="Load local"]     { display: none; }
#head-line input[value="Save local"]     { display: none; }
#head-line input[value="Reload from DB"] { display: none; }


input[type="submit"]:hover,
input[type="submit"]:active { color: #333; background-color: #E6E6E6; border-color: #ADADAD; }
input[type="submit"]:active { outline: 0; }
#editor .button:hover,  #head-line input:hover,
#editor .button:active, #head-line input:active { background-color: #31B0D5; border-color: #269ABC; }
#editor .button:active, #head-line input:active { outline: 0; box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
#head-line input[value="Publish"]:hover,
#head-line input[value="Publish"]:active      { background-color: #EC971F; border-color: #D58512; }
#head-line input[value="Clear local"]:hover,
#head-line input[value="Clear local"]:active  { background-color: #C9302C; border-color: #AC2925; }
#head-line input[value="Commit to DB"]:hover,
#head-line input[value="Commit to DB"]:active { background-color: #3071A9; border-color: #285E8E; }

.tip_view { z-index:9;color:#ccc;height:90%;width:90%;position:fixed;top:40px;left:5%;background:rgba(0, 0, 0, .8);border-radius:20px;font:300 15px/1.2 consolas;opacity:1;overflow-y:auto; }
.tip_view._off { top:-1000px;opacity:0;transition:all 1s;-webkit-transition:all 1s; }
.tip_view > h2 { border-bottom:1px solid #888;margin:0 10px 20px 10px;padding:10px 0;clear:both;text-align:center; }
.tip_view > ._g { float:left;width:33%;line-height:1.5;margin-bottom:40px; }
.tip_view > ._g._c2 { width:50%; }
.tip_view > ._g:after { content:'';display:block;clear:both; }
.tip_view > ._g  > em { float:left;clear:both;font-style:normal;text-align:right;color:#DD0;width:160px; }
.tip_view > ._g._c2  > em { width:260px; }
.tip_view > ._g  > em:after { content:':';margin:0 10px 0 6px; }
.tip_view > ._g  > p { float:left; }

.tip_view ._code { padding-left:70px; }
.tip_view ._code > b { font-style:normal;color:#DD0; }

center > table:first-child { display:none; }
center > p > table { table-layout:fixed;width:100%;height:100%; }

#tmpl_name { color:blue;font: 700 16px/1 consolas;text-align:center;background:none;border:0; }

body .CodeMirror { width: 96%; height: 880px; font: 300 13px/1.4 'DejaVu Sans Mono', 'consolas', monospace; position: relative; margin: 0 auto; } 
body .CodeMirror._f11 { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 2; }

/*BOTTOM AREA*/
td[bgcolor="white"] { background-color: #1C1C1E; color: #CCC; }
a[href^="grid.cgi"] { color: #D85896; } /* tree, use, parse */
a[href^="pushtolive.cgi"] { color: #B770A6; } 

/*.CodeMirror-vscrollbar::-webkit-scrollbar,
.CodeMirror-hscrollbar::-webkit-scrollbar{background:#eee;width:12px;height:12px;}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb{background:rgba(0,0,0,0.4);}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover,
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,0.6)}
*/